{% load thumbnail %}
<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/assets/images/-mini-250x128.png" type="image/x-icon">
  {% include "meta.html" %}
  
  <title>{{ title|truncatewords:4 }}</title>
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../../static/assets/theme/css/style.css">
  <link rel="stylesheet" href="../../static/assets/wowslider-init/style.css">
  <link rel="preload" as="style" href="../../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../../static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
<link rel="stylesheet" href="../../static/assets/wowslider-init/luxury/style.css">
</head>
<body>
  {% include "navbar.html" %}

  <section class="content02 cid-rWRWOFkXEt" id="content02-3i">
    <div class="container">
        <a href="/lenta{% if article.kind.pk == 1 %}/world{% elif article.kind.pk == 2 %}/russia{% endif %}?page={{ prev_page }}" class="display-4">Перейти к списку статей</a>
        <div class="row justify-content-center align-left pt-4">
            <div class="col-lg-12 md-pb">
                <h3 class="mbr-section-subtitle pb-2 mbr-fonts-style display-7">
                    {{ article.date_publish|date:"d M Y" }}</h3>
                <h2 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">{{ article.title }}</h2>

                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <p class="mbr-text py-2 mbr-fonts-style display-7">
                    {{ article.content|safe|linebreaksbr  }}</p>



            </div>


        </div>
    </div>
</section>

  {% if photos %}
    <section class="mbr-wowslider-container mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-wowslider-container--luxury" data-ride="carousel" data-keyboard="false" data-wrap="true" data-interval="false" id="wowslider-2p" data-rv-view="156" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-wowslider">
        <div class="ws_images">
            <ul>

                {% for ph in photos %}
                    {% if ph.photo %}
                    <li>
{#                        <img src="{{ ph.photo|thumbnail_url:'slider' }}" alt="" title="" width="1024px" height="576px">#}
{#                        <img src="{{ ph.photo|thumbnail_url:'slider' }}" alt="" title="">#}
                        <img src="{{ ph.photo.url }}" alt="" title="">
{#                        <img src="../../static/assets/images/slide3.jpg" alt="" title="">#}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="ws_bullets">
            <div>

                {% for ph in photos %}
                    {% if ph.photo %}
                        <a href="#" title="">
                    <span><img alt="" src="{{ ph.photo.url }}" height="48px" width="85"></span>
                </a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="ws_shadow"></div>
        <div class="mbr-wowslider-options">
            <div class="params" data-paddingbottom="1" data-anim-type="blast" data-theme="luxury" data-autoplay="true" data-paddingtop="1" data-fullscreen="true" data-showbullets="false" data-timeout="2" data-duration="2" data-height="600" data-width="600" data-responsive="1" data-showcaptions="false" data-captionseffect="slide" data-hidecontrols="true"></div>
        </div>
</div></section>

  {% endif %}


  {% if article.videolink %}
      <section class="extVideo cid-rSVkuH4MrL" id="extVideo1-2x" >
    <div class="back"></div>

    <div class="container align-center">
        <div class="col-md-12 col-lg-12 text">

        </div>

        <div class="row justify-content-center">
            <div class="mbr-white box col-md-12 col-12 col-lg-10" style="background-image: url('{% if article.videocover %}{{ article.videocover.url }}{% else %}{{ settings.default_videocover.url }}{% endif %}');">
                <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow">
                    <div class="icon-wrap">
                        <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="{{ article.videolink }}"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

  {% endif %}
  <section class="extFeatures cid-rWS2dL79cP" id="extCounters1-3o">



    <div class="container-fluid">
        <div class="row justify-content-center align-center">
            <div class="col-md-3 col-sm-6 stats-item col-md-6">
                {% if prev_article and prev_article is not None %}
                    <a href="/article/{{ prev_article.pk }}" >
                        <span class="mbr-iconfont mbri-left"></span>
                        <span class="heading mbr-card-title mbr-fonts-style display-5"><small>{{ prev_article.date_publish|date:"d.m.Y" }}</small><br>{{ prev_article.title|truncatewords:10 }}</span>
                    </a>
                    {% else %}
                        <br><br><h2 class="heading mbr-card-title mbr-fonts-style display-5 text-secondary">Нет более ранних статей</h2>
                {% endif %}
            </div>

            <div class="col-md-3 col-sm-6 stats-item col-md-6">
                {% if next_article and next_article is not None %}
                    <a href="/article/{{ next_article.pk }}" >
                        <span class="mbr-iconfont mbri-right"></span>
                        <span class="heading mbr-card-title mbr-fonts-style display-5"><small>{{ next_article.date_publish|date:"d.m.Y" }}</small><br>{{ next_article.title|truncatewords:10 }}</span>
                    </a>
                    {% else %}
                        <br><br><h2 class="heading mbr-card-title mbr-fonts-style display-5 text-secondary">Нет более новых статей</h2>
                {% endif %}
            </div>




        </div>
    </div>
</section>

{% include "footer.html" %}


  <script src="../../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../../static/assets/popper/popper.min.js"></script>
  <script src="../../static/assets/tether/tether.min.js"></script>
  <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../../static/assets/playervimeo/vimeo_player.js"></script>
  <script src="../../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../../static/assets/wowslider-plugin/wowslider.js"></script>
  <script src="../../static/assets/theme/js/script.js"></script>
  <script src="../../static/assets/wowslider-init/script.js"></script>
  
  
<script async src="../../static/assets/wowslider-effect/blast/script.js"></script>
</body>
</html>