<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/assets/images/-mini-250x128.png" type="image/x-icon">
  <meta name="description" content="">

  <title>Корпорация радости</title>
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../../static/assets/theme/css/style.css">
  <link rel="stylesheet" href="../../static/assets/wowslider-init/style.css">
  <link rel="preload" as="style" href="../../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../../static/assets/mobirise/css/mbr-additional.css" type="text/css">



<link rel="stylesheet" href="../../static/assets/wowslider-init/boundary/style.css">
</head>
<body>
{% include "navbar.html" %}
<section class="extFeatures cid-rSNOUHcZ58" id="extFeatures44-15">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-left">
                <div class="content-block">
                    
                    <h2 class="mbr-section-title mbr-semibold mbr-black pb-4 mbr-fonts-style display-2">Корпорация Радости</h2>
                    <p class="mbr-text mbr-black mbr-regular mbr-light mbr-fonts-style display-4">
                        Почему болеют дети? Почему получают различные травмы? Почему существуют неизлечимые заболевания? Вряд ли кто-то сможет дать полный и развёрнутый ответ на все эти вопросы, а вот поддержать ребёнка в этот непростой период его жизни (болезни) может каждый из нас. В преддверии праздника «День защиты детей» прошла ещё одна акция «Корпорация Радости» в Алтайском Краевом Клиническом центре Охраны Материнства и Детства в отделении ортопедии и травмы. Были поздравлены более 30 детей разных возрастов от 2-х до 15-ти лет. Дети нас всегда благодарят искренне, некоторые даже не хотят отпускать. Они рассказывают о том, что им очень скучно и грустно лежать одним в больнице без мамы и без родных. Некоторые даже признаются, что «плачут под простынкой» по ночам.<br><br>Мы нисколько не сомневаемся, что делаем благое и доброе дело, и ты можешь стать соучастником этого проекта и нести радость и добро вместе с нами.<br></p>
                    
                </div>
            </div>


            <div class="col-lg-6 col-md-12 col align-left">
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <div class="img-content">
                    </div>
                </div>


                <div class="box-content">
                    <div class="content1">
                        <h4 class="box-title2 mbr-medium mbr-white pb-2 mbr-fonts-style display-4"></h4>
                        <h3 class="box-text2 mbr-regular mbr-white pb-2 mbr-fonts-style display-5">Реквизиты ББФ «Дом Милосердие»
<div>Номер счета: 40703810623150000048
</div><div>ИНН: 2225156191
</div><div>Филиал «Новосибирский» АО «Альфа-Банк»
</div><div>БИК: 045004774
</div><div>Кор.счет: 30101810600000000774
</div><div>Назначение платежа: добровольное пожертвование в поддержку акции «Корпорация Радости»</div></h3>
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>

<section class="mbr-wowslider-container mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-wowslider-container--boundary" data-ride="carousel" data-keyboard="false" data-wrap="true" data-interval="false" id="wowslider-14" data-rv-view="269" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-wowslider">
        <div class="ws_images">
            <ul>
                <li>
                    
                    <img src="../../static/assets/images/slide3-1024x576.jpg" alt="title 1" title="title 1"> text 1
                </li><li>
                    
                    <img src="../../static/assets/images/slide2-1-1024x576.jpg" alt="title 2" title="title 2"> text 2
                </li><li>
                    
                    <img src="../../static/assets/images/slide1-1024x576.jpg" alt="title 3" title="title 3"> text 3
                </li><li>
                    
                    <img src="../../static/assets/images/img-604-1024x576.jpg" alt="title 3" title="title 3"> text 3
                </li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="">
                    <span><img alt="slide1" src="../../static/assets/images/tooltip3.jpg"></span>
                </a><a href="#" title="">
                    <span><img alt="slide1" src="../../static/assets/images/tooltip2.jpg"></span>
                </a><a href="#" title="">
                    <span><img alt="slide1" src="../../static/assets/images/tooltip1.jpg"></span>
                </a><a href="#" title="">
                    <span><img alt="slide1" src="../../static/assets/images/img-604-85x48.png"></span>
                </a>
            </div>
        </div>
        <div class="ws_shadow"></div>
        <div class="mbr-wowslider-options">
            <div class="params" data-paddingbottom="1" data-anim-type="kenburns" data-theme="boundary" data-autoplay="true" data-paddingtop="1" data-fullscreen="true" data-showbullets="true" data-timeout="2" data-duration="2" data-height="576" data-width="1024" data-responsive="1" data-showcaptions="false" data-captionseffect="slide" data-hidecontrols="false"></div>
        </div>
</div></section>
{% include "footer.html" %}

  <script src="../../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../../static/assets/popper/popper.min.js"></script>
  <script src="../../static/assets/tether/tether.min.js"></script>
  <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/assets/wowslider-plugin/wowslider.js"></script>
  <script src="../../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../../static/assets/theme/js/script.js"></script>
  <script src="../../static/assets/wowslider-init/script.js"></script>


<script async src="../../static/assets/wowslider-effect/kenburns/script.js"></script>
</body>
</html>