{% load thumbnail %}
<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/assets/images/-mini-250x128.png" type="image/x-icon">
  {% include "meta.html" %}
  
  <title>{{ title|truncatewords:4 }}</title>
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../../static/assets/theme/css/style.css">
  <link rel="stylesheet" href="../../static/assets/custom.css">
{#  <link rel="stylesheet" href="../../static/assets/wowslider-init/style.css">#}
  <link rel="preload" as="style" href="../../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../../static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
<link rel="stylesheet" href="../../static/assets/wowslider-init/luxury/style.css">
</head>
<body>
  {% include "navbar.html" %}

    <section class="custom">
    <div class="container">
        <div class="row justify-content-center align-left pt-4">
            <div class="col-lg-12 md-pb">
                <h2 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-2">Перевод по QR коду</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                    <p class="mbr-text py-2 mbr-fonts-style display-7">
                        В разделе Платежи выберите оплату по QR коду. Наведите мобильное устройство на QR код, затем введите сумму пожертвований и нажмите Подтвердить
                    </p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <img src="../../static/assets/images/donate/qr_code.png" title="qr_code" alt="qr_code">
                    </div>
                </div>
                <h2 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-2">Перевод через форму</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                    <p class="mbr-text py-2 mbr-fonts-style display-7">
                        Функционал в разработке
                    </p>
                    </div>
                </div>
                <h2 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-2">Другие способы помочь</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                    <p class="mbr-text py-2 mbr-fonts-style display-7">
                        Мы принимаем детские игрушки (кроме плюшевых), канцелярские товары, настольные игры, средства личной гигиены для детей, памперсы, вещи в хорошем состоянии.
                    </p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="mbr-section-btn card-btn align-center">
                            <a href="/#extFooter23-13" class="btn btn-success display-4">Контакты</a>
                        </div>
                    </div>
                </div>
                <h4 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-5">Информация об огранизации</h4>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Юридический адрес:
                        <br>
                        656905, Алтайский край, г Барнаул, ул Куета, д. 6
                        <br>
                        Телефон:
                        <br>
                        +7 (3852) 603-693
                        <br>
                        Наименование юр.лица:
                        <br>
                        БАРНАУЛЬСКИЙ БЛАГОТВОРИТЕЛЬНЫЙ ФОНД "ДОМ МИЛОСЕРДИЯ"
                        <br>
                        ОГРН:
                        <br>
                        1152225001763 от 6 февраля 2015 г.
                        <br>
                        ИНН/КПП:
                        <br>
                        2225156191/222201001
                    </p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                    </div>
                </div>



            </div>


        </div>
    </div>
</section>


{% include "footer.html" %}


  <script src="../../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../../static/assets/popper/popper.min.js"></script>
  <script src="../../static/assets/tether/tether.min.js"></script>
  <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/assets/smoothscroll/smooth-scroll.js"></script>
{#  <script src="../../static/assets/playervimeo/vimeo_player.js"></script>#}
  <script src="../../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
{#  <script src="../../static/assets/wowslider-plugin/wowslider.js"></script>#}
  <script src="../../static/assets/theme/js/script.js"></script>
{#  <script src="../../static/assets/wowslider-init/script.js"></script>#}


{#<script async src="../../static/assets/wowslider-effect/blast/script.js"></script>#}
</body>
</html>