<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/assets/images/-mini-250x128.png" type="image/x-icon">
  {% include "meta.html" %}

  <title>Главная</title>
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../../static/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="../../static/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="../../static/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="../../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../../static/assets/theme/css/style.css">
  <link rel="stylesheet" href="../../static/assets/recaptcha.css">
  <link rel="preload" as="style" href="../../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../../static/assets/mobirise/css/mbr-additional.css" type="text/css">




</head>
<body>
{% include "navbar.html" %}
<section class="header01 cid-rRBaERKkOM mbr-fullscreen mbr-parallax-background" id="header01-1">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(127, 25, 51);"></div>

    <div class="container align-left">
        <div class="row">
            <div class="mbr-white col-lg-4 col-md-6">
                <div class="wrapper">
                    <h1 class="mbr-section-title mbr-bold pb-2 mbr-fonts-style display-2">ДОМ МИЛОСЕРДИЯ</h1>
                    <h3 class="mbr-section-subtitle align-left mbr-light pb-2 mbr-fonts-style display-7">&nbsp; <strong>БАРНАУЛЬСКИЙ БЛАГОТВОРИТЕЛЬНЫЙ ФОНД</strong></h3>
                    <p></p><p></p>
                    
                    <img src="../../static/assets/images/-mini-260x133.png" alt="" title="">
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="content01 cid-rRBaPG9ToI" id="content01-3">
    <div class="container">
        <div class="row justify-content-center align-left">
            <div class="col-lg-6 md-pb">
                
                <h2 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">О нас</h2>

                <div class="line-wrap">
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="mbr-text mbr-fonts-style display-7">Общий текст о деятельности фонда <br>2-4 предложения</p>
            </div>
        </div>
    </div>
</section>

<section class="extClients cid-rRBb7ZCkE0" id="extClients2-5">
    <!-- Block parameters controls (Blue "Gear" panel) -->
    
    <!-- End block parameters -->
    <div class="container-fluid">
        <div class="row justify-content-space-between align_middle">
            <div class="col-md-12">
                
            </div>
            {% for ip in important_partners %}
                <div class="col-lg-1 col-md-3 card">
{#                    <a href="/partner/{{ ip.pk }}" target="_blank"><img src="{{ ip.logo.url }}" title="{{ ip.title }}" alt="{{ ip.title }}"></a>#}
                    <a href="/partner/{{ ip.pk }}" target="_blank" title="{{ ip.title }}" class="text-center">{% if ip.logo %}<img src="{{ ip.logo.url }}" alt="" title="">{% else %}{{ ip.title }}{% endif %}</a>

                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="mbr-section extFeatures cid-rRBd53SnxP mbr-parallax-background" id="extFeatures27-9">

    

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-row col-md-6">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Лента</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    Наш фонд регулярно участвует в благотворительных проектах. Подробнее о прошедших и планирующихся мероприятиях можно узнать из статей новостной ленты фонда.
                </h3>
                <div class="mbr-section-btn title-btn align-center"><a class="btn btn-info-outline display-4" href="/lenta">Читать все</a></div>
            </div>

            {% for a in articles %}
            <div class="card px-3 py-4 col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <h3 class="mbr-section-subtitle pb-1 mbr-fonts-style display-7">📅
                    {{ a.date_create|date:"j M Y" }}</h3>
                        <img class="custom" src="{{ a.cover.url }}" alt="">
                    </div>
                    <div class="card-box">
                        <p class="mbr-text mbr-fonts-style align-center display-7">
                            {{ a.content|truncatewords:16 }}
                        </p>
                        <div class="mbr-section-btn card-btn align-center"><a href="/article/{{ a.pk }}" class="btn btn-success display-4">
                               Побробнее</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="extClients clients cid-rRBedsGt6w" data-interval="false" id="extClients3-a">
      

    
    <div class="container mb-5">
        <div class="media-container-row">
            <div class="col-12 align-center">
                <h2 class="mbr-section-title mbr-fonts-style display-2">
                    Наши партнёры</h2>
                 <div class="underline align-center">
                     <div class="line"></div>
                 </div>
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="4000">
            <div class="slider-clients">
                <div class="carousel-inner" data-visible="6">
                    
                    
                {% for partner in partners %}
                    {% if forloop.counter <= 20 %}
                        <div class="carousel-item ">
                            <div class="media-container-row align_middle">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <a href="/partner/{{ partner.pk }}" target="_blank" title="{{ partner.title }}">{% if partner.logo %}<img src="{{ partner.logo.url }}" class="img-responsive clients-img" alt="" title="">{% else %}{{ partner.title }}{% endif %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="extClients clients cid-rSrn1Xu1JM" data-interval="false" id="extClients3-y">
    <div class="container">
        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="4000">
            <div class="slider-clients">
                <div class="carousel-inner" data-visible="6">
                    
                    
                    {% for p in partners %}
                    {% if forloop.counter > 20 %}
                        <div class="carousel-item ">
                            <div class="media-container-row align_middle">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <a href="/partner/{{ p.pk }}" target="_blank" title="{{ p.title }}">{% if p.logo %}<img src="{{ p.logo.url }}" class="img-responsive clients-img" alt="" title="">{% else %}{{ p.title }}{% endif %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            </div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="extTabs cid-rSV5iVWbvv" id="extTabs8-2d">

    

    
    <div class="container">
        <h2 class="mbr-section-title align-center mbr-fonts-style pb-3 display-2">Новости России</h2>
         <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style pb-3 display-7"><a href="/lenta/russia">Перейти ко всем</a></h3>
        <div class="media-container-row">
            <div class="col-12 col-md-10">
                <ul class="nav nav-tabs" role="tablist">
                    {% for nr in news_rus %}
                        <li class="nav-item" title="{{ nr.title }}"><a class="nav-link mbr-fonts-style show active display-7" role="tab" data-toggle="tab" href="#extTabs8-2d_tab{{ forloop.counter0 }}" aria-selected="true">
                            {{ nr.title|truncatewords:4 }}
                        </a></li>
                    {% endfor %}

                    
                </ul>
                <div class="tab-content">
                    {% for nr in news_rus %}
                        <div id="tab{{ forloop.counter }}" class="tab-pane in active" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="mbr-text mbr-fonts-style align-left display-7">
                                        {{ nr.date_create }}
                                    </p>
                                    <h4 class="display-2 align-left title-content pb-2 mbr-fonts-style display-5">
                                    {{ nr.title }}
                                    </h4>
                                    <p class="mbr-text mbr-fonts-style align-left display-7">
                                        {{ nr.content|truncatewords:20 }}
                                    </p>
                                    <div class="mbr-section-btn"><a class="btn-underline mr-3 text-primary display-4" href="/article/{{ nr.pk }}">Читать дальше</a></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-img"><img class="custom" src="{{ nr.cover.url }}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

<section class="extTabs cid-rSV2CiwTSX" id="extTabs8-2a">

    

    
    <div class="container">
        <h2 class="mbr-section-title align-center mbr-fonts-style pb-3 display-2">
            Мировые новости</h2>
         <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style pb-3 display-7"> 
            <a href="/lenta/world">Перейти ко всем</a></h3>
        <div class="media-container-row">
            <div class="col-12 col-md-10">
                <ul class="nav nav-tabs" role="tablist">
                    {% for nw in news_world %}
                        <li class="nav-item" title="{{ nw.title }}"><a class="nav-link mbr-fonts-style show active display-7" role="tab" data-toggle="tab" href="#extTabs8-2a_tab{{ forloop.counter0 }}" aria-selected="true">
                            {{ nw.title|truncatewords:4 }}
                            </a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for nw in news_world %}
                    <div id="tab{{ forloop.counter }}" class="tab-pane in active" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="mbr-text mbr-fonts-style align-left display-7">
                                        {{ nw.date_create }}
                                    </p>
                                <h4 class="display-2 align-left title-content pb-2 mbr-fonts-style display-5">
                                {{ nw.title }}
                                </h4>
                                <p class="mbr-text mbr-fonts-style align-left display-7">
                                    {{ nw.content|truncatewords:20 }}
                                </p>
                                <div class="mbr-section-btn"><a class="btn-underline mr-3 text-primary display-4" href="/article/{{ nw.pk }}">Читать дальше</a></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card-img"><img class="custom" src="{{ nw.cover.url }}" alt=""></div>
                            </div>
                        </div>
                    </div>
                     {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

<section class="map01 cid-rRBgmwCHN1" id="map01-j">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mbr-form md-pb" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="tD/fu/7rkdX02AbHaA3VmKdCOjTguaCC5rxu1mF733MgA5OXysNATDA8zmCat4x96tkrgBUPttGfSfZppGKFFHf6EGAPZeJWABQC9x/b6aE+PCdlsWSA0X7Q6DcNjwy1.5pTu4rbRJmos/4GXbfDROKcap/tjcpzNFNGebGVnAtJQvvJSmnD09iNXYfIRUvCrd3pLhS6+eGbVRWD33z3ldMFg6Sjw7QOx2RjyoJnHqlfHJNQEOj87RVzJc4r1KBqd">
    <div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Ваша заявка успешно зарегистрирована! Администратор свяжется с Вами.</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Произошла ошибка. Попробуйте повторить попытку позднее!</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12">
<h2 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">Обратная связь</h2>
</div>
<div class="col-lg-6 form-group" data-for="phone">
<input type="tel" name="phone" placeholder="Телефон" oninput="valid_phone(this.id)" data-form-field="phone" required="required" class="form-control display-7" value="" id="phone-map01-j">
</div>
<div data-for="email" class="col-lg-6 form-group">
<input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control display-7" value="" id="email-map01-j">
</div>
<div data-for="name" class="col-lg-6 form-group">
<input type="text" name="name" placeholder="ФИО" oninput="valid_name(this.id)" data-form-field="name" class="form-control display-7" required="required" value="" id="name-map01-j">
</div>
<div data-for="message" class="col-lg-12 form-group">
<textarea name="message" placeholder="Ваше сообщение или вопрос" data-form-field="message" required="required" class="form-control display-7" id="message-map01-j"></textarea>
</div>
<div class="col-lg-12 mbr-section-btn">
<button type="submit" class="btn btn-sm btn-primary display-7">Отправить</button>
</div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-map01-j" required="">Подтверждаю своё согласие c <a style="color: #f1894c; text-decoration: underline;" href="/policy" target="_blank">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
            <div class="col-lg-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1684.3022397401026!2d83.78974822490497!3d53.3439172589365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dda48d940b3e17%3A0x92ecbbd09cc41c6d!2z0JHQu9Cw0LPQvtGC0LLQvtGA0LjRgtC10LvRjNC90YvQuSDRhNC-0L3QtCAi0JTQvtC8INC80LjQu9C-0YHQtdGA0LTQuNGPIg!5e0!3m2!1sru!2sru!4v1583904008310!5m2!1sru!2sru" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}

  <script src="../../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../../static/assets/popper/popper.min.js"></script>
  <script src="../../static/assets/tether/tether.min.js"></script>
  <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../../static/assets/parallax/jarallax.min.js"></script>
  <script src="../../static/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="../../static/assets/mbr-clients-slider/mbr-clients-slider.js"></script>
  <script src="../../static/assets/formstyler/jquery.formstyler.js"></script>
  <script src="../../static/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="../../static/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="../../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../../static/assets/mobirise-tabs/mbr-tabs.js"></script>
  <script src="../../static/assets/theme/js/script.js"></script>
  <script src="../../static/assets/formoid.min.js"></script>
  <script src="../../static/custom.js"></script>



</body>
</html>