<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/assets/images/-mini-250x128.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Лента</title>
  <link rel="stylesheet" href="../../static/assets/linecons/style.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../../static/assets/theme/css/style.css">
  <link rel="preload" as="style" href="../../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../../static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  

</head>
<body>
  {% include "navbar.html" %}

<section class="extFeatures cid-rSVg4A0BkL" id="extFeatures34-2u">

    

    
    <div class="container">
        
        <div class="row row-content justify-content-center">

            {% for article in articles %}

            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img">
                        <img class="" src="{{ article.cover.url }}" title="" alt="">
                        <div class="card-box">




                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5">{{ article.title }}</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 li_calendar"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">{{ article.date_create|date:"d.m.Y" }}</p>
                                </div>
                            </div>




                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal display-4">
                            {{ article.content|truncatewords:30 }}</p>
                        </div>
                        <div class="mbr-section-btn ico-box"><a href="/article/{{ article.pk }}" class="btn btn-primary-outline btn-sm display-4">
                                    Читать</a></div>

                    </div>

                </div>
            </div>
        {% endfor %}


            {% if articles.has_other_pages %}
                <ul class="pagination font-weight-bold">
                    {% if articles.has_previous %}
                        <li class="mx-2"><a href="/lenta?page={{ articles.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled mx-2"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in articles.paginator.page_range %}
                        {% if articles.number == i %}
                            <li class="active mx-2"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="mx-2"><a href="/lenta?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if articles.has_next %}
                        <li class="mx-2"><a href="/lenta?page={{ articles.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled mx-2"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

    </div>



</section>
{% include "footer.html" %}


  <script src="../../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../../static/assets/popper/popper.min.js"></script>
  <script src="../../static/assets/tether/tether.min.js"></script>
  <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../../static/assets/theme/js/script.js"></script>
  
  

</body>
</html>