<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/assets/images/-mini-250x128.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Отчётность</title>
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../../static/assets/theme/css/style.css">
  <link rel="preload" as="style" href="../../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../../static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  

</head>
<body>
  {% include "navbar.html" %}

<section class="extFeatures popup-btn-cards cid-rVyVqAX0rj mbr-parallax-background" id="extFeatures66-3c">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(241, 137, 76);">
    </div>
    <a class="full-link" href="#"></a>
    <div class="container-fluid card-wrapper">
        <div class="row justify-content-center align-items-center" style="min-height: 10vw;">
             <div class="col-xl-10 col-lg-10 col-md-12 text-block">
                <h2 class="mbr-section-title mbr-fonts-style mbr-white mbr-bold display-2">ОТЧЁТНОСТЬ ФОНДА</h2>                 
             </div>
        </div>
    </div>
</section>

<section class="accordion1 cid-rSUStxJLKN" id="extAccordion8-27">

    

    
    <div class="container-fluid">
        <div class="media-container-row align-center">
            <div class="col-12 col-md-12">
                
                <div id="bootstrap-accordion_18" class="panel-group accordionStyles accordion col-sm-12 col-md-10 col-lg-8 align-left pt-5" role="tablist" aria-multiselectable="true">
                    {% for r in reports %}
                    <div class="card">
                        <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                            <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse{{ forloop.counter }}_18" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                <h4 class="mbr-fonts-style header-text display-5">
                                  {{ r.period }}</h4>
                            </a>
                        </div>
                        <div id="collapse{{ forloop.counter }}_18" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#bootstrap-accordion_18">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                </p><p><a href="{{ r.file.url }}" target="_blank"></a>
                                    <a href="{{ r.file.url }}" target="_blank">{{ r.title }}<span class="small"> скачать</span> </a><br>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}


  <script src="../../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../../static/assets/popper/popper.min.js"></script>
  <script src="../../static/assets/tether/tether.min.js"></script>
  <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../../static/assets/mbr-popup-btns/mbr-popup-btns.js"></script>
  <script src="../../static/assets/parallax/jarallax.min.js"></script>
  <script src="../../static/assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="../../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../../static/assets/theme/js/script.js"></script>
  
  

</body>
</html>