<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/assets/images/-mini-250x128.png" type="image/x-icon">
  {% include "meta.html" %}

  <title>Территория добра</title>
  <link rel="stylesheet" href="../../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../../static/assets/theme/css/style.css">
  <link rel="stylesheet" href="../../static/assets/wowslider-init/style.css">
  <link rel="preload" as="style" href="../../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../../static/assets/mobirise/css/mbr-additional.css" type="text/css">



<link rel="stylesheet" href="../../static/assets/wowslider-init/boundary/style.css">
</head>
<body>
  {% include "navbar.html" %}

<section class="team02 cid-rSPb8rG9md" id="Team02-17">

    

    

    <div class="container">
        <div class="row justify-content-center align-left flex-row-reverse flex-wrap-reverse">
            <div class="col-lg-6 m-auto">
                
                <h2 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">Территория добра
</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <p class="mbr-text py-2 mbr-fonts-style display-7">Социальный проект помощи детям, проводимый благотворительным фондом «Дом милосердия» носит название «Территория добра».
<br>
<br>В рамках этого проекта наш фонд помогает детским учреждениям, где содержатся дети, оставшиеся без родителей, сироты, детским реабилитационным центрам.
<br>
<br>Фонд «Дом милосердия» организовывает детские праздники, спортивные мероприятия, на которых дети получают массу позитивных эмоций и памятные призы и подарки.
<br>
<br>Опытные волонтеры фонда стараются найти особый подход к каждому ребёнку, помогают раскрывать свои личные качества, потенциал и веру в светлое будущее.<br></p>
                
            </div>
            <div class="col-lg-6 m-auto align-center md-pb">
                <img class="photo" src="../../static/assets/images/whatsapp-image-2017-07-07-at-10.26.51-224x300.jpg" alt="" title="" height="400" style="width:unset">
            </div>
        </div>
    </div>
</section>

<section class="mbr-wowslider-container mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-wowslider-container--boundary" data-ride="carousel" data-keyboard="false" data-wrap="true" data-interval="false" id="wowslider-1a" data-rv-view="399" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-wowslider">
        <div class="ws_images">
            <ul>
                {% for ph in photos %}
                <li>
                    <img src="../../static/assets/images/terr_dobra/{{ ph }}" alt="" title="">
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="">
                    <span><img alt="slide1" src="../../static/assets/images/tooltip3.jpg"></span>
                </a>
            </div>
        </div>
        <div class="ws_shadow"></div>
        <div class="mbr-wowslider-options">
            <div class="params" data-paddingbottom="2" data-anim-type="kenburns" data-theme="boundary" data-autoplay="true" data-paddingtop="0" data-fullscreen="true" data-showbullets="false" data-timeout="2" data-duration="2" data-height="600" data-width="600" data-responsive="1" data-showcaptions="false" data-captionseffect="slide" data-hidecontrols="true"></div>
        </div>
</div></section>

{% include "footer.html" %}

  <script src="../../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../../static/assets/popper/popper.min.js"></script>
  <script src="../../static/assets/tether/tether.min.js"></script>
  <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/assets/wowslider-plugin/wowslider.js"></script>
  <script src="../../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../../static/assets/theme/js/script.js"></script>
  <script src="../../static/assets/wowslider-init/script.js"></script>


<script async src="../../static/assets/wowslider-effect/kenburns/script.js"></script>
</body>
</html>