<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../static/assets/images/-mini-250x128.png" type="image/x-icon">
  {% include "meta.html" %}

  <title>Соглашение</title>
  <link rel="stylesheet" href="../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../static/assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../static/assets/theme/css/style.css">
  <link rel="preload" as="style" href="../static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../static/assets/mobirise/css/mbr-additional.css" type="text/css">




</head>
<body>
    {% include "navbar.html" %}


<section class="content02 cid-rSU1Pz6OLY" id="content02-1m">
    <div class="container">
        <div class="row justify-content-center align-left">
            <div class="col-lg-12 md-pb align-items-center">
                <h3 class="mbr-section-subtitle pb-2 mbr-fonts-style display-7">Страница, на которую Вы пытаетесь перейти не существует.</h3>
                <p class="mbr-text py-2 mbr-fonts-style display-7"></p>
                <a href="/" class="btn btn-primary"> Вернуться на главную</a>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}


  <script src="../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../static/assets/popper/popper.min.js"></script>
  <script src="../static/assets/tether/tether.min.js"></script>
  <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="../static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../static/assets/theme/js/script.js"></script>



</body>
</html>