


    <section class="extFooter cid-rSrG0YgYdx" id="extFooter23-13" data-rv-view="1321">





    <div class="container">
        <div class="row content mbr-white justify-content-center">
            <div class="col-lg-3 col-md-6">
                <h2 class="mb-4 footer-main-title mbr-fonts-style display-2">
                    Реквизиты</h2>
<!--                 <div mbr-form class="media-container-column"> -->
                    <!---Formbuilder Form--->
<!--                     <form action name="Mobirise Form" method="POST" class="mbr-form form-with-styler"> -->
<!--                         <div class="row"> -->
<!--                             <div hidden="hidden" data-form-alert class="alert alert-success col-12">Thanks for filling out the form!</div> -->
<!--                             <div hidden="hidden" data-form-alert-danger class="alert alert-danger col-12"> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                         <div class="dragArea row"> -->
<!--                         <div class="col-md-12 form-group m-0" data-for="email"> -->
<!--                             <input type="email" name="email" placeholder="Enter Your Email*" data-form-field="Email" mbr-theme-style="display-7" required="required" class="form-control input-sm input-inverse my-2"> -->
<!--                         </div> -->
<!--                         <div class="col-md-12 input-group-btn mx-0 my-2 " mbr-buttons="true" mbr-theme-style="display-4" data-toolbar="-mbrBtnMove,-mbrBtnLink,-mbrBtnAdd"> -->
<!--                             <a type="submit" class="btn btn-white-outline m-0 btn-form">Subscribe</a> -->
<!--                         </div> -->
<!--                         </div> -->
<!--                     <span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-input" required>Подтверждаю своё согласие c <a style="color: #f1894c; text-decoration: underline;" href='/policy'>Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form> -->
            <!---Formbuilder Form--->
<!--                 </div> -->
                <p class="mbr-text mbr-fonts-style form-text mt-4 display-4">Номер счёта: 40703810623150000048
<br>Валюта: Рубли
<br>ИНН: 2225156191
<br>Банк: ФИЛИАЛ «НОВОСИБИРСКИЙ» АО «АЛЬФА-БАНК»
<br>КПП: 222501001
<br>БИК: 045004774
<br>Кор. счёт: 30101810600000000774</p>
            </div>

            <div class="col-md-6 col-lg-3">
                <h3 class="mb-4 mbr-fonts-style footer-title display-5">
                    Контакты</h3>
                <div class="mbr-footer-list mbr-fonts-style display-4">
                    <ul class="list">
                        <li>Телефон:&nbsp;<a href="tel:+7-913-210-3693">+7 913 210 3693</a></li><li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="tel:+7-3852-603693">603-693</a></li>
                        <li>Email: <a href="mailto:dommiloserdie@bk.ru">dommiloserdie@bk.ru</a></li>
                        <li>Адрес: пр.Комсомольский, 80, офис 304</li>
                    </ul>
                </div>
                <div class="social-list pl-0 mb-0">
                    <div class="soc-item">
                        <a href="https://vk.com/club180037587" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" media-simple="true"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/dommi_loserdie?igshid=lq8xw4oabnke" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" media-simple="true"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://2gis.ru/barnaul/search/дом милосердия/firm/563478235285199?m=83.786267%2C53.343786%2F16" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social mbri-pin" media-simple="true"></span>
                        </a>
                    </div>



                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h3 class="mb-4 footer-title mbr-fonts-style display-5">
                    Разделы</h3>
                <div class="mbr-footer-list mbr-fonts-style display-4">
                    <ul class="list">
                        <li><a href="/" class="text-white">Главная</a></li><li><a href="/lenta" class="text-white">Лента</a></li><li><a href="/corp_radost" class="text-white">Корпорация радости</a></li><li><a href="/den_miloserdia" class="text-white">День милосердия</a></li><li><a href="/territoria_dobra" class="text-white">Территория добра</a></li><li><a href="/blagodarnost" class="text-white">Благодарности</a></li><li><a href="/otchet" class="text-white">Отчётность</a></li><li><a href="/rehabilitation" class="text-white">Реабилитация</a></li><li><a href="/lenta/russia" class="text-white">Новости России</a><br></li><li><a href="/lenta/world" class="text-white">Мировые новости</a></li><li><br></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h3 class="mb-4 footer-title mbr-fonts-style display-5"></h3>
                <div class="mbr-footer-list mbr-fonts-style display-4">
                    <ul class="list">
                        <li>© Esina MV <a href="mailto:me@electis.ru">me@electis.ru</a> - All Rights Reserved</li></ul><p><span style="font-size: 1rem;">Наш партнер <a href="page8.html" class="text-white">KUKU.io</a> - SMM инструменты для бизнеса агентств и штатных специалистов</span><br></p><ul class="list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

